<section class="FormWrapper">
    <h2 class="PageTitle__text">予定の新規追加</h2>

    <%= render "shared/error", obj: @post %>
    <div class="FormContainer">
        <%= form_with model: @post, class: "row g-3 Form" do |f| %>
            <div class="col-12">
                <%= f.label :title, "タイトル", class: 'form-label Form__label--required' %>
                <%= f.text_field :title , class: 'form-control' %>
            </div>

            <div class="col-md-6">
                <%= f.label :start_date, "開始日", class: 'form-label Form__label--required' %>
                <div class="Form__data-input"><%= f.date_field :start_date, class: 'form-control js-picker' %></div>
            </div>

            <div class="col-md-6">    
                <%= f.label :end_date, "終了日", class: 'form-label Form__label--required' %>
                <div class="Form__data-iput"><%= f.date_field :end_date, class: 'form-control js-picker' %></div>
            </div>
            
            <div class="col-12 form-check Form__check">
                <%= f.check_box :in_all_day, class: 'form-check-input Form__check-input' %>
                <%= f.label :in_all_day, "終日の場合はチェックを入れます", class:  'form-check-label Form__check-label' %>
            </div> 
            
            <div class="col-12">   
                <%= f.label :memo, "スケジュールメモ", class: 'form-label' %>
                <%= f.text_area :memo, class: 'form-control' %>
            </div>
            
            <div class="FormContainer__buttons">
                <%= link_to posts_path do %> 
                    <button class="btn Button Button--secondary">キャンセル</button>
                <% end %>
                <%= f.submit "保存", class: 'btn Button Button--primary' %>
            </div>
            
            <p>
                <% flash.each do |message_type, message| %>
                    <div class="flash-message <%= message_type %>"><%= message %></div>
                <% end %>
                <% yield %>
            </p>

        <% end %>
    </div>
</section>